.default-color0.chart-series-line { -fx-stroke: #278796; }
.default-color1.chart-series-line { -fx-stroke: #ff8400; }
.default-color2.chart-series-line { -fx-stroke: #00b02f; }
.default-color3.chart-series-line { -fx-stroke: #e056fd; }
